.character-bio-container {
    margin: 0;
    min-height: 100vh;
    overflow: auto;
    animation: gradientAnimation 20s ease infinite;
    background: linear-gradient(45deg, #5a7cbd, #7a2c94, #f8a83b, #f6d338);
    background-size: 400% 400%;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 50%;
    }

    75% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.character-name {
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;
    color: white;
}

.character-quote {
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.character-card {
    display: block;
    margin: 30;
    max-width: 200px;
    height: auto;
}

.character-photo {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.character-description-banner {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.character-description {
    font-size: 1rem;
    color: #fff;
}

.unlock-info {
    margin-top: 30px;
    text-align: center;
}

.how-to-unlock-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.how-to-unlock {
    font-size: 1rem;
    color: #ddd;
}