.characters {
    text-align: center;
    padding: 20px;
}

.characters-heading {
    margin-top: 100px;
    margin-bottom: 25px;
}

.unlockable-heading {
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom: 20px;
}

.character-grid,
.unlockable-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.character-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 10px;
    max-width: 150px;
    transition: transform 0.2s;
}

.character-card:hover {
    transform: scale(1.05);
    /* Slightly enlarge on hover */
}

.character-icon {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    height: auto;
}

.character-name-banner {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2.75px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.character-name {
    color: white;
    font-size: 14px;
    text-align: center;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}