.characters {
    text-align: center;
    padding: 20px;
}

.characters-heading {
    margin-top: 100px;
    margin-bottom: 25px;
}

.unlockable-heading {
    font-size: 2rem;
    margin-bottom: 20px;
}

.character-grid,
.unlockable-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.character-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 10px;
    max-width: 150px;
    transition: transform 0.2s;
}

.character-card:hover {
    transform: scale(1.05);
    /* Slightly enlarge on hover */
}

.character-icon {
    width: 100%;
    /* Makes the icon responsive */
    border-radius: 10px;
}

.character-name {
    font-size: 1.2rem;
    /* Adjust font size as needed */
    margin-top: 10px;
    text-align: center;
    /* Center the text */
}